[Unit]
Description=Monguitp
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 D:\projects\python\Ubuntu-Service/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target